.card {
    all: unset;
    background-color: #727272;
    padding: 5px;
    border-radius: 10px;
    min-width: 200px;
    padding-left: 10px;
    width: max-content;
    color:white;
    cursor: pointer;
}

.card > h4 {
    margin: 0;
    
}



.cardItem{
    font-weight: 400;
}